<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
  <footer th:fragment="footer" class="footer footer-black  footer-white ">
    <div class="container-fluid">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li><a href="https://www.creative-tim.com" target="_blank">Đây là footer của Quick Manager</a></li>
          </ul>
        </nav>
        <div class="credits ml-auto">
          <span class="copyright"> © <script> document.write(new Date().getFullYear())</script>, 
          made with <i class="fa fa-heart heart"></i> by Creative Tim
          & Update by Mr Độ, Mr Huy
          </span>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>