<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
  <div th:fragment="sidebar" class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="/user/me" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="/img/logo-small.png">
        </div>
      </a><a href="/user/me" class="simple-text logo-normal" th:text="${full_name}"></a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <th:block th:each="item : ${sidebarItems}">
          <li th:class="(${item.getPath()} == '/logout') ? 'active-pro' : (${item.isActive()} ? 'active' : '')"><a th:href="${item.getPath()}"> <i th:class="${item.getIcon()}"></i>
              <p th:text="${item.getName()}"></p>
          </a></li>
        </th:block>
      </ul>
    </div>
    <input id="error_message" th:if="${error_message != null && !error_message.isEmpty()}" type="hidden" th:value="${error_message}">
    <input id="error_state" th:if="${error_state != null}" type="hidden" th:value="${error_state}">
  </div>
</body>
</html>