<Configuration>
	<Appenders>
		<!-- Console Appender -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss a} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<!-- File Appender -->
		<RollingFile name="File"
			filePattern="logs/qman.%d{yyyy-MM-dd}.log" immediateFlush="true">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="32 MB" />
				<OnStartupTriggeringPolicy />
			</Policies>
		</RollingFile>

	</Appenders>

	<Loggers>
		<!-- Log everything in custom package -->
		<Logger name="com.qman.web" level="debug" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>

		<Logger name="org.hibernate.SQL" level="debug"
			additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Logger>
		<Root level="error">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>

	</Loggers>
</Configuration>