.dropdown-item-center {
	text-align: center;
	padding: 10px 15px 10px 15px !important;
}

.square-100 {
	width: 150px !important;
	height: 150px !important;
}

.item-role {
	
}

.item-gender {
	
}

.btn-show-pass {
	
}